@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --white-color : #FFFFFF;
    --pink-soft-color : #FCDDEC;
    --purple-color :#4F2B87;
    --purple-gradient-color : linear-gradient(130.35deg, #6345ED 17.35%, #DC39FC 78.23%);
    --pink-gradient-color: linear-gradient(130.35deg, #FFFFFF 17.35%, #DC39FC 78.23%);
}

html{
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.game-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
    height: 100vw;
    overflow: auto;
}

.game-container.main-bg{
    background-image: url('../images/main-bg.png');
}

.gradient-bg{
    background: var(--purple-gradient-color);
}

.title-1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.04em;
}

.title-2 {
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.title-3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
}

.title-4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.text-base {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
}

.text-outline {
    color: var(--pink-soft-color);
    text-shadow:
     3px  3px 0 var(--purple-color),
    -1px -1px 0 var(--purple-color),  
     1px -1px 0 var(--purple-color),
    -1px  1px 0 var(--purple-color),
     1px  1px 0 var(--purple-color);
}

.text-gradient {
    background: linear-gradient(130.35deg, #FFFFFF 17.35%, #DC39FC 78.23%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
/* text-shadow: 0px 2.07958px 4.15917px rgba(0, 0, 0, 0.14), 0px 2.07958px 2.07958px rgba(0, 0, 0, 0.12), 0px 2.07958px 4.15917px rgba(0, 0, 0, 0.2); */
}

.text-pink{
    color : var(--pink-soft-color);
}

.main-btn {
    background:  var(--purple-gradient-color);
    border-radius: 100px;
    padding: 14px 22px;
    color : var(--white-color);
    text-decoration: none;
    font-weight: 700;
    position: relative;
    font-size: 14px;
    border: 0;
    box-shadow: 0 0 0 0;
    min-width: 100px;
}

.main-btn::before{
    content: url('../images/button-bg.svg');
    position: absolute;
    top: 5px;
    right: 5px;
}

.z-index-0 {
    z-index: 0;
}

.z-index-2 {
    z-index: 2;
}

/* modal */
.game-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    transition: 0.3s ease-in-out all;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-modal.show {
    display: flex;
}

.game-modal .modal-box {
    width: 250px;
    background: var(--purple-color);
    border-radius: 26px;
    border-bottom: 5px solid var(--blue-2-color);
}

.game-modal .content {
    padding: 0 12px 18px 12px;
}

.game-modal .head {
    border-radius: 26px 26px 0 0 ;
    padding: 22px 12px ;
}

.game-modal .modal-close-btn {
    position: absolute;
    right: -13px;
    top : -15px;
}
/* end modal */


/* HOME PAGE  */
.home-screen .female-home {
    position: absolute;
    bottom: 5vh;
    left: 13vh;
    width: 29vh;
}

.home-screen .male-home {
    position: absolute;
    bottom: 5vh;
    right: 25vh;
    width: 30vh;
}
/* END HOME PAGE  */

@media (min-width: 992px) {
    body{
        display: none;
    }
}
